<% include layout/header.ejs%>

<form method="post">

    <input type="text" name="title" >
    <br>
    <textarea name="body"></textarea>
    <br>
    <button type="submit">Отправить</button>
</form>

<% include layout/footer.ejs%>